<link href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/css/main.min.css?ceqj8vdqnvD5GWuYE0WRjg==" rel="stylesheet" type="text/css" />
<!--[if !IE 8]><!-->
<link href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/css/govuk.min.css?1B2M2Y8AsgTpgAmY7PhCfg==" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if IE 8]>
<link href="https://cdn.nationalcareers.service.gov.uk/gds_service_toolkit/css/all-ie8.css?cNeGxHG/7iosKxjnN953IA==" rel="stylesheet" />
<!--<![endif]-->
<style>
  .govuk-select {
    width: 100%;
  }

  .govuk-select--width-5 {
    max-width: 10.8ex;
  }

  .govuk-select--width-10 {
    max-width: 23ex;
  }

  .govuk-select--width-20 {
    max-width: 41ex;
  }

  .govuk-list--alpha {
    padding-left: 20px;
    list-style-type: lower-alpha;
  }
</style>
