{% from "components/input/macro.njk" import govukInput %}
{% from "components/fieldset/macro.njk" import govukFieldset %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% from "components/select/macro.njk" import govukSelect %}
{% from "components/button/macro.njk" import govukButton %}
{% extends "common/templates/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form class="form" id="entryForm" method="post" autocomplete="off" novalidate="novalidate">
      {% call govukFieldset({
        legend: {
          text: "Ask for help...",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

        <p class="govuk-body-l">Stuck on your biology or geography homework? Got a question and need help right now? Our team of experts are here to help.</p>

        <p class="govuk-body">Type in your question below, then submit the form and a tutor will be with you shortly.</p>

        {{ govukInput({
          label: {
            html: 'First name'
          },
          classes: "govuk-input--width-20",
          id: "given-name",
          name: "given-name",
          autocomplete: "given-name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukSelect({
          label: {
            text: "Year group"
          },
          classes: "govuk-select--width-10",
          id: "year_group",
          name: "year_group",
          items: [
            {
              value: "7",
              text: "Year 7"
            },
            {
              value: "8",
              text: "Year 8"
            },
            {
              value: "9",
              text: "Year 9"
            },
            {
              value: "10",
              text: "Year 10"
            },
            {
              value: "11",
              text: "Year 11"
            }
          ]
        }) }}

        {{ govukSelect({
          label: {
            text: "Subject"
          },
          id: "subject",
          name: "subject",
          classes: "govuk-select--width-10",
          items: [
            {
              value: "biology",
              text: "Biology"
            },
            {
              value: "geography",
              text: "Geography"
            }
          ]
        }) }}

        {{ govukTextarea({
          label: {
            text: "Your question?"
          },
          id: "question",
          name: "question",
          rows: "10",
          hint: {
            text: "Do not include personal or financial information, like your National Insurance number or credit card details."
          }
        }) }}

      {% endcall %}

      <p class="govuk-body">By using this webchat service you agree to our <a href="/terms-and-conditions" target="_blank" class="govuk-link">terms and conditions</a></p>

      <p class="govuk-body">You can read our <a href="/privacy-and-cookies" target="_blank" class="govuk-link">privacy policy</a></p>

    </form>

    <button id="startChat" class="govuk-button">Start chat</button>
  </div>

  <script type="text/javascript">
    function InitialiseC4A() {

      button = document.getElementById('startChat');

      button.addEventListener('click', function() {
        var name     = document.getElementById('given-name').value;
        var year     = document.getElementById('year_group').value;
        var subject  = document.getElementById('subject').value;
        var question = document.getElementById('question').value;

        var customData = JSON.stringify({name: name, year: year, subject: subject, question: question});

        console.log("starting tool with data: ", customData);

        /* Chat Tool */
        var Tool1 = new C4A.Tools(1, 'startChat');
        C4A.Track.Enabled = false;
        C4A.Run('65f9bd35-59b0-4215-943c-ddccee05ee4f');
        Tool1.AddCustomData(customData);
      }, false);

    }
  </script>

  <noscript><a href="https://www.click4assistance.co.uk/add-live-chat-software-click4assistance-uk" target="_blank" style="font-size:10px;position:fixed;bottom:2px;right:2px;">Click4Assistance UK Live Chat Software</a></noscript>

  <script src="https://v4in1-si.click4assistance.co.uk/SI.js" type="text/javascript" defer="defer"></script>
{% endblock %}
