{% from "components/button/macro.njk" import govukButton %}
{% extends "common/templates/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Need support with your English, Biology and Geography homework?</p>

    <p class="govuk-body">Use our live chat service to get help from a subject specialist.</p>

    <p class="govuk-hint">To use this service you must be at least 13 years old.</p>

    <p class="govuk-hint">
      By using this service you agree to our <a href="/terms-and-conditions" target="_blank" class="govuk-link">terms and conditions</a>.
      You also agree to have read our <a href="/privacy-and-cookies" target="_blank" class="govuk-link">privacy policy</a> and agree to us using
      your personal data as stated within the policy.
    </p>

    {{ govukButton({
      text: "Start now",
      href: "https://v4in1-ti.click4assistance.co.uk/DefaultChat.aspx?AccGUID=65f9bd35-59b0-4215-943c-ddccee05ee4f&ScriptID=4&ToolType=1&PushD=",
      isStartButton: true
    }) }}
  </div>

  <noscript><a href="https://www.click4assistance.co.uk/add-live-chat-software-click4assistance-uk" target="_blank" style="font-size:10px;position:fixed;bottom:2px;right:2px;">Click4Assistance UK Live Chat Software</a></noscript>

  <script src="https://v4in1-si.click4assistance.co.uk/SI.js" type="text/javascript" defer="defer"></script>
{% endblock %}
