{% extends "common/templates/layout.njk" %}

{% block pageTitle %}Terms and conditions{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Terms and conditions</h2>

      <p class="govuk-body">The Department for Education operates the online subject support service. This is a publicly funded pilot that is being trialled in a small number of schools England for young people aged 13 and above.

      <p class="govuk-body">The service aims to test support for secondary pupils with learning at home via a Live Chat.

      <p class="govuk-body">As a pupil within a participating school/class, you will be able to ask questions about the subject you are studying while at home and receive support.

      <p class="govuk-body">When using the online subject support service, you agree to the following terms and conditions. You will:

      <ul class="govuk-list govuk-list--bullet">
        <li>use Live Chat service appropriately – we monitor these services and will take action against inappropriate use</li>
        <li>not share any personal information about yourself such as your full name and contact details</li>
        <li>respect any patents, copyrights and trademarks</li>
        <li>accept that all rights are owned by the Department for Education</li>
      </ul>

      <p class="govuk-body">You can learn more about how we use and protect your personal information by going to our <a class="govuk-link" href="./privacy-and-cookies">privacy policy</a>.</p>
    </div>
  </div>
{% endblock %}
