{% extends "common/templates/layout.njk" %}

{% block pageTitle %}Privacy policy for the online subject support service{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Privacy policy for the online subject support service</h2>

      <p class="govuk-body"><strong>This online service is provided by the Department for Education (DfE).</strong></p>

      <p class="govuk-body">For the purposes of relevant data protection legislation, the DfE is the data controller for processed personal information.</p>

      <p class="govuk-body">DfE uses Click4Assistance to provide the live chat software for this service so that you can get help with your schoolwork.</p>

      <h3 class="govuk-heading-m">What's in this policy?</h3>

      <p class="govuk-body">This policy tells you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what information we might collect about you</li>
        <li>how we might use that information</li>
        <li>what information of yours we might share with others</li>
        <li>how long we will use this information</li>
      </ul>

      <h3 class="govuk-heading-m">What types of personal information does this service collect about me?</h3>

      <p class="govuk-body">We'll give you details about why we need your personal information and how we'll use it before you begin unless it's obvious.</p>

      <p class="govuk-body">We ask you your name, year group and subject of study and store your IP address. We won’t ask you for any additional personal information.</p>

      <p class="govuk-body">We would like you to help us improve this service and may ask you to provide feedback. If you agree, we will collect this information immediately after you chat with a volunteer.</p>

      <h3 class="govuk-heading-m">How can the service use my personal information?</h3>

      <p class="govuk-body">We have to have a valid reason to use your personal information. It's called the "lawful basis for processing".</p>

      <p class="govuk-body">For this service, we are asking for your agreement to use your personal information.</p>

      <p class="govuk-body">We use your information for these types of things:</p>

      <ol class="govuk-list govuk-list--alpha">
        <li>to deliver the service to you</li>
        <li>to deal with your requests, complaints and enquiries</li>
        <li>to evaluate and improve the service</li>
      </ol>

      <p class="govuk-body">We will only share things about you if the law says we can. We might need to share your personal information with your school if we identify issues with the service or to help evaluate and improve the service.</p>

      <h3 class="govuk-heading-m">How can I withdraw my agreement for you to keep my personal information?</h3>

      <p class="govuk-body">If you change your mind and you do not want us to use your personal information, you can let us know by contacting <a class="govuk-link" href="https://www.gov.uk/contact-dfe" target="_blank">https://www.gov.uk/contact-dfe</a>. You will need to tell us your name and the name of this service (online subject support service).</p>

      <h3 class="govuk-heading-m">How long will you keep my personal information?</h3>

      <p class="govuk-body">We may need to keep some of your personal information for up to 1 year so that we are able to address any concerns raised about the chat history between pupils and volunteers.</p>

      <h3 class="govuk-heading-m">How to get a copy of your personal information?</h3>

      <p class="govuk-body">You can ask for a copy of your personal information by <a class="govuk-link" href="https://www.gov.uk/contact-dfe" target="_blank">https://www.gov.uk/contact-dfe</a>, or by writing to:</p>

      <p class="govuk-body">Teacher Workforce Directorate<br/>
      Department for Education<br/>
      Piccadilly Gate<br/>
      Store Street<br/>
      Manchester<br/>
      M1 2WD</p>

      <h3 class="govuk-heading-m">How to complain</h3>

      <p class="govuk-body">You can let us know if you have any concerns about how we have used your personal information by <a class="govuk-link" href="https://www.gov.uk/contact-dfe" target="_blank">contacting the DfE</a>.</p>

      <p class="govuk-body">You also have the right to complain to the <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/" target="_blank">Information Commissioner’s Office</a>.</p>
    </div>
  </div>
{% endblock %}
